In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv(r"D:\excelr assignments\hypothesis testing\LabTAT.csv")

In [3]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [4]:
# Normality Test

In [5]:
#H0: lab1,lab2,lab3,lab4 are normal
#H1:lab1,lab2,lab3,lab4 are not normal

In [6]:
#alpha =0.05

In [7]:
stats.shapiro(df["Laboratory 1"])

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

In [8]:
stats.shapiro(df["Laboratory 2"])

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [9]:
stats.shapiro(df["Laboratory 3"])

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [10]:
stats.shapiro(df["Laboratory 4"])

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [ ]:
# P is greater than alpha for all the labs,hence we fail to reject Null hypothesis
# lab1,lab2,lab3,lab4 are normal

In [ ]:
# variance test

In [ ]:
#H0:variance of all the labs are same
#H1:variance of all the labs are not same

In [11]:
stats.levene(df["Laboratory 1"], df["Laboratory 2"], df["Laboratory 3"], df["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

In [12]:
# P value is slightly greater than alpha,hence we fail to reject Null hypothesis

In [13]:
#anova test

In [ ]:
#H0:There is no significance difference between TAT of the laboratories
#H1:There is significance difference between TAT of the laboratories

In [14]:
stats.stats.f_oneway(df["Laboratory 1"], df["Laboratory 2"], df["Laboratory 3"], df["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#P value of the One way Anova test is less than alpha,hence we reject Null hypothesis
#There is significance difference between TAT of the laboratories