In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv(r"D:\excelr assignments\hypothesis testing\Cutlets.csv")

In [3]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
#Normality test

In [5]:
# alpha =0.05
#H0 = Both unit a and unit b are normal
#H1 = Both units are not normal

In [6]:
stats.shapiro(df['Unit A'])

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [7]:
# p> alpha Hence we fail to reject null hypothesis

In [8]:
stats.shapiro(df['Unit B'])

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [9]:
# p> alpha Hence we fail to reject null hypothesis

In [10]:
# Both units are normal

In [11]:
# Paiired T test

In [12]:
#H0 = There is no significant difference between diameter of cutlets
#H1 = There is significant difference between diameter of cutlets

In [13]:
stats.ttest_rel(df["Unit A"], df["Unit B"])

Ttest_relResult(statistic=0.7536787225614314, pvalue=0.4562300768038412)

In [14]:
# p value is greater than alpha hence we fail to reject null hypothesis

In [15]:
#There is no significant difference between diameter of cutlets